# Large files
*.exe
train/*.keras
train/*.pkl
*.keras
*.pkl

# Scratch folder
scratch/

# AI
gom-ai/uploads/
test ảnh gốm/
dataset/

# Python
.venv/
__pycache__/

# Flutter
gom_app/build/
gom_app/.dart_tool/

# Laravel
gom_api/vendor/
gom_api/node_modules/
gom_api/.env